pyrogram
tgcrypto
py-tgcalls[pyrogram]		
git-https://github.com/vexeraop/downloader
git+https://github.com/mrabhix/p
git+https://github.com/vexeraop/download
heroku3
rich
aiohttp
gitpython
motor

aiofiles
dnspython
python-dotenv
pykeyboard
aiohttp_session
telegraph
python-arq
