pyrogram==1.4.16
tgcrypto
py-tgcalls[pyrogram]		
git+https://github.com/abhi-xd/download
git+https://github.com/mrabhix/p
git+https://github.com/abhi-xd/p
git+https://github.com/vexeraop/download
heroku3
rich
aiohttp
gitpython
motor
aiofiles
dnspython
python-dotenv
pykeyboard
aiohttp_session
telegraph
python-arq
